.admin{
  width: 100%;
}

.admin ul,
.admin li{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color:  #303030;
}

.admin p{
  display: inline-block;
}

.admin{

}

.admin-left{
  display: inline-block;
  padding: 10px;
  width: 15%;
  vertical-align: top;
}

.admin-left input{
  width: 100px;
}

.admin-center{
  display: inline-block;
  padding: 10px;
  width: 70%;
  vertical-align: top;
}

.admin-right{
  display: inline-block;
  padding: 10px;
  width: 15%;
  vertical-align: top;
}

.admin-district-list_item{
  width: 100%;
  text-align: center;
  /*background: linear-gradient(#4f9cfb,#1d4e99 53%,#1d4e99 0,#1d4e99);*/
  line-height: 24px;
}

.district-card{
  padding: 10px;
  background-color: #DCDCDC;
  margin-bottom: 10px;
  /*display: none;*/
  text-align: left;
}