body{
  background: #073f90;
  background: -moz-linear-gradient(top, #073f90 0%, #3f97fc 100%);
  background: -webkit-linear-gradient(top, #073f90 0%,#3f97fc 100%);
  background: linear-gradient(to bottom, #073f90 0%,#3f97fc 100%);
  font-family: sans-serif;

}


.timearea{
  text-align: center;
  margin: 4px;
}

.timearea p{
  font-size: 12px;
}


.horizontal-color-raw{
  width: 100%;
  height: 48px;
  margin-bottom: 5px;
  background: transparent url(../img/gradientrows_bg.gif) 0 0 repeat-x;
}

.horizontal-color-raw__flipped{
  transform:scaleY(-1);
}

.header-btn{
  float: right;
  border-radius: 5px;
  font-weight: bold;
  transition: .15s ease-in-out;
}

.header-btn:hover{
  text-decoration: underline;
  box-shadow: 0 0 10px 0#084092 inset, 0 0 10px 4px#084092;
  color: #0183DE;
}

.header-btn_link{
  height: 42px;
  display: block;
  padding: 0 10px;
  text-decoration: none;
  color: #fff;
  line-height: 42px;
}

.left-aside{
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*height: 700px; todo autoheight*/
}

.left-aside__list{
  padding: 0;
}

.left-aside__list-item{
  text-align: left;
  margin-bottom: 2px;
  background-color: #E6E6E6;
}

.left-aside__link{
  vertical-align: middle;
  height: 30px;
  width: 206px;
  display: table-cell;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  
  font-size: 12px;
  font-weight: 600;
  color: #31415B;

  border-left: 8px solid #347DDC;
  border-right: 5px solid #347DDC;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  transition: padding 0.25s ease-out;
}

.left-aside__link:hover{
  padding-left: 15px;
}


.content-area{
  vertical-align: top;
  display: inline-block;
  height: 100%;
  width: 79%;
}

.content-area_header{
  margin: 20px 40px;
}

.content-area_header__smaller{
  margin: 10px 40px;
}

.content-area_header__accented{
  background-color: #F0F0F0;
}

.content-area_map{
  text-align: center;
  margin-top: 50px;
}

.link-to-form{
  margin-top: 60px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  width: 150px;
  height: 20px;
  display: inline-block;
}


.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}


.footer-text{
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 41px;
  color: #fff;
   transform:scaleY(-1);
}