.enrolment-form{
  margin-left: 40px;
}

.enrolment-form_row{
  margin-bottom: 5px;
  width: 100%;
  position: relative;
}

.enrolment-form_row__downed{
    margin-top: 20px;

}

.enrolment-form_caption{
  display: inline-block;
  background-color: #E6E6E6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 250px;
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
}

.enrolment-form_caption__two-lines{
  line-height: 16px;
  padding: 4px 10px;
}

.enrolment-form_field{
  display: inline-block;
  min-height: 40px;
  width: 60%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/*тут селектор всього, бути обережним!!!!*/
.enrolment-form_field input,
.enrolment-form_field select{
  line-height: 40px;
  height: 40px;
  width: 100%;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*border: none;*/
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.enrolment-form_small-btn{
  position: absolute;
  top: 6px;
  right: 40px;
  height: 28px;
  width: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #0183DE;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: #fff;

}

.enrolment-form_small-btn__moved{
  top: 6px;
  right: 6px;
  background-color: #EFAF03;
}

.enrolment-form_btns-row{
  display: inline-block;
  padding-right: 49px;
  position: absolute;
  top: 0;
  right: 0;
}

.enrolment-form_label{
  display: inline-block;
  line-height: 40px;
  padding-left: 40px;
}

.enrolment-form_label__lefted{
  padding-left: 0;
  vertical-align: top;
}

.enrolment-form_my-chk{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 305px;
  width: 40px;
  height: 40px;
  background: transparent url("../img/chkbx.png") 0 0 no-repeat;
}

.enrolment-form_my-chk.active{
  background: transparent url("../img/chkbx.png") -1px -41px no-repeat;
}

.enrolment-form_chk{
  display: inline-block;
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 305px;
}


.enrolment-form_btn{
  display: inline-block;
  line-height: 40px;
  border: none;
  text-align: right;
  padding: 0 20px;
}

.enrolment-form_btn__blue{ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
background: -webkit-linear-gradient(#4f9cfb 0%, #1d4e99 53%, #1d4e99 53%, #1d4e99 100%);
background: -o-linear-gradient(#4f9cfb 0%, #1d4e99 53%, #1d4e99 53%, #1d4e99 100%);
background: linear-gradient(#4f9cfb 0%, #1d4e99 53%, #1d4e99 53%, #1d4e99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.enrolment-form_btn__yellow{

background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffa84c 0%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

p.error{
  text-align: center;
  padding: 5px;
  color: #F55555;
  transition: all 0.5s;
}

input.error{
  border: 2px solid #F55555;
}

.vpr-chose{
  padding: 10px;
  background-color: #609EE8;
}

.vpr-card{
  margin-bottom: 10px;
}

#approvalChekbox-error{
  display: block;
  text-align: left;
  padding-left: 0;
}