.login-form{
  margin: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-rawed{
  display: inline-block;
  width: 49%;
}

.form_caption{
  display: inline-block;
  line-height: 30px;
  width: 130px;
  background-color: #d8d8d8;
  text-align: center;
  vertical-align: top;
  margin-bottom: 10px;
}

.form_field{
  display: inline-block;
  min-height: 40px;
  line-height: 30px;
  width: 40%;
  font-size: 14px;
  margin-left: 15px;
}

.form_field input{
  min-height: 30px;
  text-align: center;
  width: 100%;
}

.from-submit-btn{
  border: none;
  width: 110px;
  height: 30px;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  float: right;
  margin-right: 75px;
  margin-top: 8px;
  cursor: pointer;
}

.from-submit-btn__lefted{
  float: left;
}



