.queue-table{
  margin: 30px;
  margin-right: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #303030;
}

table.queue-table  {
    border-collapse: collapse;
}

table.queue-table,
.queue-table th, 
.queue-table td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.queue-table td:nth-child(3) {
  width: 60%;
  text-align: left;
}

.queue-table tr:nth-child(2n+1) {
  background-color: #F0F0F0;
}

.column1{
  width: 5%;
}