/*/*font-family: 'Open Sans', sans-serif; 300,400,400i,700*/


body{
  color:  #303030;
}


p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

td p{
  font-size: 10px;
}

a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

span{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

li{
  font-family: Verdana, sans-serif;
  font-size: 11px;
  color: #31415B;
  font-weight: bold;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media only screen 
and (min-width : 1824px) {
  body{
    font-size: 19px;
  }
}
