@media screen and (max-width: 432px) and (min-width: 320px) {

#ua{
    min-width: 320px;
    height: 300px;
    background-color: #fff;
  }

  .wrapper{
    width: auto;
  }

  .left-aside{
    display: none;
  }

  
  .content-area{
    min-width: 320px;
    width: 100%;
  }

  
  .head-image_img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .enrolment-form{
    padding: 50px;
    margin: 0;
  }

  .enrolment-form_caption{
    display: block;
    width: 100%;
  }

  .enrolment-form_field{
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

.footer-text{
    line-height: 20px;
  }

.enrolment-form_btns-row {
    margin-top: 40px;
    position: relative;
    display: block;
}

}
 
/* iPads (portrait and landscape) ----------- */
@media screen and (max-width: 768px) and (min-width: 433px) {
  #ua{
    min-width: 433px;
    height: 400px;
  }

  .wrapper{
    width: auto;
  }

  .left-aside{
    display: none;
  }

  
  .content-area{
    min-width: 433px;
    width: 100%;
  }

  
  .head-image_img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .enrolment-form{
    padding: 50px;
    margin: 0;
  }

  .enrolment-form_caption{
    display: block;
    width: 100%;
  }

  .enrolment-form_field{
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

.footer-text{
    line-height: 20px;
  }

.enrolment-form_btns-row {
    margin-top: 40px;
    position: relative;
    display: block;
}
}


  
 
@media screen and (max-width: 1024px) and (min-width: 769px) {

  .wrapper{
    width: auto;
  }

  .left-aside{
    display: none;
  }

  
  .content-area{
    min-width: 768px;
    width: 100%;
  }

  
  .head-image_img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .footer-text{
    line-height: 20px;
  }
}

 

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  body{
    font-size: 19px;
  }
}
