<footer>
  <div class="footer-wrap">
    <div class="horizontal-color-raw horizontal-color-raw__flipped">
      <p class="footer-text">Поштова адреса: 04655, м.Київ, Львівська пл.,8 Телефони: (044) 284-00-10 Факс: (044) 284-09-35 inform@acskidd.gov.ua</p>
    </div>
  </div>
</footer>