    <header>
      <div class="head-image">
        <img class="head-image_img" src="img/baner_bg.jpg" alt="banner" width="1010px" height="125px">
      </div>
      <div class="timearea marquee">
        <marquee scrollamount="3" scrolldelay="1">
        <p class="current-time">
        Офіційний інформаційний ресурс Акредитованого центру сертифікації ключів ІДД ДФС  00:00:00 01 січня 2017р.</p> </marquee>
        </div>
      <div class="horizontal-color-raw">
        <div class="header-btn">
          <a href="login.html" class="header-btn_link">Вхід до системи</a>
        </div>
        <div class="header-btn">
          <a href="index.html" class="header-btn_link">ДО карти</a>
        </div>
      </div>
    </header>