<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>АЦСК ІДД ДФС | Реєстрація</title>
  
  <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <!-- <link rel="apple-touch-icon" href="fav.png"> -->
  <link rel="shortcut icon" type="image/png" href="fav_small.png"/>
  <!-- Place favicon.ico in the root directory -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&amp;subset=cyrillic" rel="stylesheet"> 
  <link rel="stylesheet" href="css/main.min.css">

  <script>
   var GA_LOCAL_STORAGE_KEY = 'ga:clientId';
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    
  if (window.localStorage) {
    ga('create', 'UA-102180543-1', {
      'storage': 'none',
      'clientId': localStorage.getItem(GA_LOCAL_STORAGE_KEY)
    });
    ga(function(tracker) {
      localStorage.setItem(GA_LOCAL_STORAGE_KEY, tracker.get('clientId'));
    });
  }
  else {
    ga('create', 'UA-102180543-1', 'auto');
  }
    
    ga('send', 'pageview');
    

  </script>


</head>