<aside class="left-aside">
        <ul class="left-aside__list">
          <li class="left-aside__list-item"><a href="https://acskidd.gov.ua/news" class="left-aside__link">Новини</a></li>
          <li class="left-aside__list-item"><a href="https://acskidd.gov.ua/reglament" class="left-aside__link">Регламент роботи</a></li>
          <li class="left-aside__list-item"><a href="https://acskidd.gov.ua/ca-certificates" class="left-aside__link">Сертифікати АЦСК</a></li>
          <li class="left-aside__list-item"><a href="https://acskidd.gov.ua/crls" class="left-aside__link">Списки відкликаних сертифікатів</a></li>
          <li class="left-aside__list-item"><a href="https://acskidd.gov.ua/certificates-search" class="left-aside__link">Пошук сертифікатів</a></li>
          <li class="left-aside__list-item"><a href="https://acskidd.gov.ua/r_kor" class="left-aside__link">Реєстрація користувачів</a></li>
          <li class="left-aside__list-item"><a href="https://acskidd.gov.ua/program_obespech" class="left-aside__link">Програмне забезпечення</a></li>
          <li class="left-aside__list-item"><a href="https://acskidd.gov.ua/blokuvannya" class="left-aside__link">Блокування, поновлення, скасування сертифікатів</a></li>
        </ul>
      </aside>