  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>

  <script src="js/templates.js"></script>
  <script src="js/main.js"></script>

<script src="js/inputmask.js"></script>
<script src="js/inputmask.phone.extensions.js"></script>
<script src="js/jquery.inputmask.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/uk.js"></script>
<script src="js/clndr.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
